:root{
  --background: #2B2D42;
  --gray: #8D99AE;
  --green: #E8DCB9;
  --arrow-green: #93c0a4;
  --light-arrow: #5b4110;
  --red: #cd5656;
  --letter-color: #df945d;
  --medium-brown: #7e5830;
}

@font-face {
    font-family: "Syne-Regular";
    src: url('/fonts/infini-regular.woff') format('truetype');
}

@font-face {
    font-family: "Blackout";
    src: url('/fonts/blackout_midnight-webfont.woff') format('truetype');
}

@font-face {
    font-family: "BlackoutAM";
    src: url('/fonts/blackout_two_am-webfont.woff') format('truetype');
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
  color: #232333;
  font-family: 'Syne-Regular', sans-serif;
  font-size: 12px;
  background-color: var(--background);
}

body{
    
  display: block;
  font-size: 12px;
}

nav
{
    height: 80px;
    width: 100%;
}

label.logo img{
    padding: 0px;
    height: 160px;
    margin-right: 3em;
}

nav ul
{
    float:right;
    margin-right: 20px;
    left: 0;
    z-index: 1;
}


nav ul li
{
    display: inline-block;
    line-height: 80px;
    margin : 0 5px;
}

.checkbtn
{
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    color: var(--green);
    
}

.closebtn
{
    font-size: 40px;
    float: center;
    line-height: 80px;
    cursor: pointer;
    display: none;
    color: var(--red);
}

.separator
{
    width: 100px;
}
#check
{
    display: none;
}

#close
{
    display: none;
}

.menu_sm
{
    height: 40px;
    filter:  brightness(0) saturate(100%) invert(99%) sepia(29%) saturate(1143%) hue-rotate(317deg) brightness(100%) contrast(82%);
}


@media (max-width: 960px) 
{
    label.logo
    {
        width:125px;
        display: block;
    }
    
    label.logo img
    {

        padding: 0 ;
        width:100%;
        height: auto;
        padding-left: 25px;
        padding-right: 25px;
    }
    
    nav ul li a
    {
        font-size: 16px;
    }
}

@media (max-width: 800px)
{
    .checkbtn
    {
        display: block;

    }
    
    .closebtn
    {
        display: block;

    }
    

    
    ul
    {
        position: fixed;
        width: 100%;
        height: 80vh;
        background-color: var(--green);
        top: 0px;
        top: -100%;
        text-align: center;
        transition: all .5s;
    }
    
    nav ul li
    {
        display: block;
        margin: 50px 0;
        line-height: 30px;
        min-height: 32px;
    
    }
    
    .li_sm
    {
        display: inline-block;
        margin: 0px 0;
    }
    
    nav ul li a
    {
        font-size: 20px;
        color: var(--background)
    }
    
    #check:checked ~ ul{
        top: 0;
        
    }
    
    .menu_sm
    {
        height: 40px;
        filter: brightness(0) saturate(100%) invert(15%) sepia(10%) saturate(2095%) hue-rotate(197deg) brightness(91%) contrast(88%);
    }
    
    .separator
    {

        display: none;
    }
    
}

footer {
  margin-top: 1rem;
  padding-bottom: 1rem;
  background-color: var(--background);
  font-size: 12px;
  color: var(--red);
  max-width: 1400px;
  margin-left: auto; margin-right: auto;
}

a {
  color: #00e;
  text-decoration: none;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-around;
  padding-bottom: 1rem;
}

img.resize {
    width:300px; /* you can use % */
    height: auto;
    margin:0;
    padding:0;
}


/* Containers */
.content {
  background-color: var(--background);
  margin-left: auto;
  margin-right: auto;
  word-wrap: break-word;
}

header
{
  position: relative;
  min-height: 160px;
  margin-top: 20px;
    max-width: 1000px;
    margin: auto;
    padding: 2em 2em 2em 2em;
}

/*.links li
{
    float: left;
    height: 200px;
    line-height: 200px;
    padding-left: 1em;
    padding-right: 1em;
    text-transform: capitalize;
    text-align: center;
    align-items: center;
    color: var(--green);
}

.links.right li
{
    float: right;
}*/


.links ul {
  font-family: 'Blackout', sans-serif;
  list-style-type: none;
  padding: 0em;
  padding-bottom: 0em;
  font-size: 26px;
  margin: 0px;
}




#maincolumn
{
    
margin: 3em 3em 3em 3em;
max-width: 1000px;
margin: auto;
    
    padding: 2em 2em 2em 2em;
}

ul a
{
    color: var(--green);
}



.blog
{
      border-top: 3px solid var(--background);
    font-size: 18px;
}


.blogimage
{
    height:100px;
    color: var(--green);
    margin-top: 1em;

}

.blogimage a
{
    color: var(--green);
}

.blogtitles
{
    background-color: #2b2d42e5;
    padding-left: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
}

.blogtitle
{
    font-family: 'Blackout', sans-serif;
    color: var(--green);
    background: var(--background);
    font-size: 24px;
    padding-top: 0.25em;

    margin-bottom: 1em;
    margin-top: 0.5em;
    max-width: 1400px;
    margin-left: auto; margin-right: auto;
}

h1
{
    margin: 0;
    border-top: 3px solid var(--green);
    border-bottom: 3px solid var(--green);
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;


}



a.imagelink {
  margin-top: 10px;
  margin-bottom: 10px;
    object-fit: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  border-radius: 0px;
}

.game {
  text-align: center;
  position: relative;
  bottom: 0px;
    &:hover .overlayimage{
      height: 20%;
    }
}

.overlayimage {
  position: absolute;
  bottom: 0px;
  opacity: 0.95;
  background-color: black;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.signupform
{
    background-color:  #8d99aee5;
    width: 100%;
    height: auto;
    max-width: 600px;
    margin: auto;
    border-radius: 25px;
    padding: 1em;
    position: relative;
    margin-top: 1em;margin-bottom: 2em;

}

.formdescription
{
    color: var(--background);
    font-size: 18px;
    text-align:center;
}

.inner 
{
    background-color:  var(--background);
          border-radius: 10px;

}


.main_text a

{
    color: var(--gray);
}




.main_text img{
  max-width: 100%;
  height: auto;
}

.main_text h2{
    text-align:center;
    padding: 0 0 4px;
}

@media (max-width: 800px) {

    .signupform
    {
        background-color:  #8d99aee5;
        width: 100%;
        max-width: 600px;
        height: auto;
        margin: 0 auto;
        border-radius: 25px;
        padding: 1em;
        position: relative;
        margin-top: 1em;
        z-index:0;
    } 
}


.links a:hover 
{ 
    color: var(--red);
    border-bottom: 3px solid var(--red);
    padding: 0 0 4px;
} 


.center
{
    width: 650px;
    display: block;
    margin: auto;   
}
    
.main_text p img
{
  width: 100%;
  height: auto;
    max-width: 600px;
      margin-left: auto; margin-right: auto;
    margin-bottom: 1em;
    display: block;
}


.icon {
  display: inline-block;
  width: 48px;
  height: 40px;
  background-size: cover;
}

.icon-bike {
  background-image: url(/socialMedia/Twitter.svg);
}


.pk
{
  color:  var(--green);
  font-family: 'Syne-Regular', sans-serif;
  font-size: 18px;
  max-width: 1400px;
  margin-left: auto; margin-right: auto;
    text-align: justify;

}

.pk-row
{
    display: flex;
}


.pk-flex-child-1 {
    flex: 0 0 25%;
} 

.pk-flex-child-1 img
{

}

.pk-flex-child-2 {
    flex: 0 0 25%;
    /*border: 2px solid var(--green);*/
}  


.pk-flex-child-3 {
    flex: 0 0 50%;
}  

.pk h3
{
    border-bottom: 3px solid var(--green);
}

h2
{
    margin: 0.5em;
}


.pk a
{
    color: var(--green);
}

.pk a:hover 
{ 
    color: var(--red);
    border-bottom: 2px solid var(--red);
    padding: 0 0 1px;
} 

.pk_factsheet h3
{
    
    color:  var(--red);
    border-bottom: 0px  var(--red);
}


.main_text h3
{
    text-align:center;
    padding: 0 0 4px;
    margin-bottom: 2em; margin-top: 2em;

}

.main_text h3 a
{ 
    color: var(--background);
    background: var(--green);
    padding: 10px 20px 10px 20px; 
    border-radius: 25px;

} 

.main_text h3 a:hover 
{ 
    color: var(--red);
    border-bottom: 2px solid var(--red);
    padding: 10px 20px 10px 20px;
} 

.main_text
{
  color:  var(--green);
  font-family: 'Syne-Regular', sans-serif;
  font-size: 18px;
  max-width: 1400px;
  margin-left: auto; margin-right: auto;
  text-align: justify;
}
