---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
	background: $darkerGray;
  font: 18px/1.4 $nunito;
  color: $lightGray ;
}

.container {
  margin: 0 auto;
  max-width: 1080px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: $lightGray;
  font-weight: bold;

  line-height: 1.7;
  margin: 0.5em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $lightGray;
}

p {
  margin: 15px 0;
}

a {
  color: #8b6d9c ;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: #fbf5ef ;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $lightGray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 5px;

}

.masthead {
  padding: 20px 0;


  

  @include mobile {
    text-align: center;
  }
}

.site-avatar {

  height: 100%;
  width:10%;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }


}

.site-info {

    margin-top: 40px;
  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $lightGray;
  cursor: pointer;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: $lightGray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  background: $black;
  float: none;
  text-align: center;
  margin-top: 23px; // @TODO: Vertically middle align
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $lightGray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }
}

socialmedia {
  padding: 20px 0;
  text-align: center;
}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.blog-roll-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);



}


.game {
  text-align: center;
  position: relative;
  bottom: 0px;
    &:hover .overlayimage{
      height: 20%;
    }
}

.overlayimage {
  position: absolute;
  bottom: 0px;
  opacity: 0.95;
  background-color: $darkerGray;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


div.container {
  text-align: left;
  padding: 10px 20px;
}

.gallery h1 {
  text-align: center;
}

.gallery {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
    justify-content: center;
    padding: 2px 2px 75px;
    grid-gap: 15px;
    
    margin-bottom: 50px;
}

.wrapper-footer {
  margin-top: 50px;
  background-color: #494d7e;
}

footer {
  padding: 20px 0;
  text-align: center;
}

.plat-logo {
  width: 50px;
  height: 50px;
  display: inline-block;
  opacity: 1;
  }

.platforms{
  text-align: center;


}

.news{
  max-width:none;
  

}

.vid{
  padding: 20px;
}

.news-title h1{
text-align:center;
  width: 50%;

  border-width: 2px;
  border-style: solid;

  border: 10px solid;
  border-image-slice: 1;
  border-width: 2px;

  border-image-source: linear-gradient(to right, $darkerGray , $gray 10%, $gray 90%, $darkerGray);

  color:$gray;
  margin: auto;
   padding: 10px;
}

.only-top h1{
  border-left: 0;
  border-right: 0;

}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
