
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #99abb9ff;
$background: #3C455C   ;
$maincolor: #dde2e3  ;
$writing: #dde2e3   ;


// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Nunito, serif;
$nunito: Nunito, Helvetica;

@font-face { 
font-family: Nunito; 
src: url(Nunito-VariableFont_wght.ttf); 
font-weight: normal; 
}

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}